.preview-body{
    border-radius: 0;
    height: 672px;
    overflow-y: scroll;
}

.write{
    font-family: Consolas;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.input-area{
    margin-top: 0;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    font-family: Consolas;
    margin-right: 0;
    margin-left: 0;
    border:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    overflow-scrolling: auto;
}

.input-area:focus{
    -webkit-box-shadow:none;
    box-shadow:none;
}

.preview{
    border-radius: 0;
    height: 100%;
    resize: none;
    font-size: 16px;
    font-family: Consolas;
}

.preview > .preview-title{
    background-color: #ffffff;
}

.preview-title{
    text-align: center;
}

.write > .panel-body{
    padding-bottom: 0;
}

.title-bar{
    padding-left: 5px;
    height: 70px;
    vertical-align: center;
}

.title {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px
}

.title-text{
    text-align: right;
    padding-right: 0;
    vertical-align: center;
    margin-top: 10px;
}

.input-title-area{
    margin-top: 6px;
    vertical-align: center;
    height: 40px;
    font-size: 18px;
    font-family: Consolas;
}

.title-hint{
    margin-top: 10px;
    text-align: left;
}